<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/cards.css" />
    <link rel="stylesheet" href="/styles/add-client.css">
    <title>Añadir Incidencia</title>
</head>
<body>
    <header>
        <div class="topnav">
            <a href="/">Dashboard</a>
            <a class="active" href="/incidences">Incidencias</a>
            <a href="/clients">Clientes</a>
            <div class="logout">
                <form action="/auth/logout" method="POST">
                <input type="submit" value="Logout" />
                </form>
            </div>
        </div>
    </header>
    <content>
        <div class="login-box">
        <h2>Crea un nuevo incidente</h2>
            <form action="/incidences/add-incidence" method="POST" enctype="multipart/form-data">
                <div class="user-box">
                    <input type="date" name="date" required="">
                    <label>Fecha de la incidencia</label>
                </div>
                <div class="user-box">
                    <input type="text" name="client" required="">
                    <label>Nombre del cliente</label>
                </div>
                <div class="user-box">
                    <input type="text" name="problemType" required="">
                    <label>Tipo de problema</label>
                </div>
                <div class="user-box">
                    <input type="text" name="problemDesc" required="">
                    <label>Descripción de la incidencia</label>
                </div>
                <div class="user-box">
                    <input type="checkbox" value='true' name="leaveMaterial">
                    <label>Deja material</label>
                </div>
                <div class="user-box">
                    <input type="text" name="leaveMaterialDesc">
                    <label>Descripción del material entregado</label>
                </div>
                <div class="user-box">
                    <input type="checkbox" value='true' name="finished" >
                    <label>Terminado</label>
                </div>
                <div class="user-box">
                    <input type="date" name="estimatedEnd" required="">
                    <label>Tiempo de entrega estimado</label>
                </div>
                <div class="user-box">
                    <input type="text" name="asignedTo" required="">
                    <label>Usuario asignado</label>
                </div>
                <div class="user-box">
                    {{!-- <input type="text" name="logoCompany" required=""> --}}
                    <input name="image" type="file" required>
                </div>
                <button type="submit">Guardar</button>
            </form>
        </div>
    </content>

</body>
</html>